{% extends "charmschool/base.html" %}
{% load static %}
{%block course_content%}
<div class="group">
    <div class="group-assignment m-3">
        <h4 class='mb-3'>การบ้าน</h4>
        {% if is_student %}
        {% include 'components/hw_student.html'%}
        {% else %}
        {% include 'components/hw_instructor.html'%}
        {% endif %}
    </div>
    <div class="group-content m-3 ">
        <h4 class='mb-3'>เนื้อหา/ข่าวประกาศ</h4>
        <div class="list-group">
            {% for content in course_contents %}
            <a href="content/{{content.pk}}/" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-1">{{content.subject}}</h5>
                </div>
                <p class="mb-1">{{content.description}}</p>
                <small>
                    <b>โพสต์โดย:</b> {{content.author.name}} {{content.author.surname}}
                    <b>เมื่อ:</b> {{content.pub_date|date:'d/m/Y'}} {{content.pub_date|time:'H:i'}} น.
                </small>
            </a>
            {% empty %}
            <p>ยังไม่มีเนื้อหา</p>
            {% endfor %}
        </div>
        {% if not is_student %}
             <button class="btn btn-success mt-3" data-bs-toggle="collapse" href="#AddContentForm" role="button"
        aria-expanded="false" aria-controls="AddContentForm">
        <i class="bi bi-plus"></i>
        เพิ่มเนื้อหา
        </button>
        <div class="collapse mt-3 p-3" style='background-color: rgb(255,239,213); border-radius 5px;' id="AddContentForm">
            <form action="addcontent/" method="post">
                {% csrf_token %}
                <input type="hidden" name="content">
                {% with content_form as form %}
                {% include "components/form_base.html" %}
                {% endwith %}
                <div class="d-sm-flex flex-sm-row-reverse">
                    <button class="btn btn-secondary" type='submit'> บันทึกข้อมูล</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock course_content %}