{% extends "charmschool/base.html" %}
{% block course_content %}
<div class="m-3 group table-responsive">
    <h4>ข้อมูลนักศึกษา</h4>
    <div class="my-3">
        <ul>
            <li>ชื่อ: {{member.gender}} {{member.name}} {{member.surname}} </li>
            <li>รหัสนักศึกษา: {{member.student_id}} </li>
            <li>อีเมล: {{member.email_ref}}</li>
        </ul>
    </div>
    {% if request.user.is_instructor %}
    <div class='d-flex justify-content-between my-3'>
        <h4 class='mb-2'>การบ้านที่ส่ง</h4>
        {% include "components/search_form.html" %}
    </div>
    {% if classworks %}
    <form action="grade/" method="post">
        {% csrf_token %}
        <input type="hidden" name="success_url" value="{{request.get_full_path}}">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">การบ้าน</th>
                <th scope="col">งานที่ส่ง</th>
                <th scope="col">วันที่ส่ง</th>
                <th scope="col">คะแนน</th>
            </tr>
        </thead>
        <tbody>
            {% for classwork in classworks %}
            <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="../../assignment/{{classwork.assignment.pk}}/">{{classwork.assignment.subject}}</a>
                    </td>
                    <td>
                        <small>
                            {{classwork.message}}
                            {% if classwork.works %}
                            <br />
                            <b>ไฟล์แนบ:</b> <br>
                            {% with classwork.works as works %}
                            {% include "components/file_list.html" %}
                            {% endwith %}
                            {% endif %}<br>
                            <b>ความคิดเห็น:</b> <br>
                            <input type="hidden" name="classwork_id" value="{{classwork.pk}}">
                            <input type="text" name="feedback" class="form-control form-control-sm"
                                {% if classwork.feedback %} value='{{classwork.feedback}}' {% endif %}>
                            
                        </small>
                    </td>
                    <td style='max-width:100px;'>
                        {% include "components/late_check.html" %}
                    </td>
                    <td style='min-width: 80px; vertical-align: bottom'>{% if classwork %}
                        <input type="number" class="form-control-sm p-0" name="score" min="0"
                            max="{{classwork.assignment.max_score}}" style='width:2.15rem;' value={{classwork.score}}>
                        {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-sm-flex flex-sm-row-reverse my-3">
    <button type="submit" name="submit" class="btn btn-warning"><i i class="bi bi-save me-2"></i> บันทึกการเปลี่ยนแปลง</button> 
    </div>
    </form>
    {% else %}
    <span>ไม่มีรายการ</span> <br>
    {% endif %}
    {% endif %}
</div>
{% endblock course_content %}