{% extends "charmschool/base.html" %}
{% block course_content %}
<div class="m-3 group table-responsive">
<h4>ข้อมูลนักศึกษา</h4>
ีี<ul>
    <li>ชื่อ: {{member.gender}} {{member.name}} {{member.surname}} </li>
    <li>รหัสนักศึกษา: {{member.student_id}} </li>
    <li>อีเมล: {{member.email_ref}}</li>
</ul>
{% if request.user.is_instructor %}
{% include "components/search_form.html" %}
<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">การบ้าน</th>
                <th scope="col">งานที่ส่ง</th>
                <th scope="col">วันที่ส่ง</th>
                <th scope="col">คะแนน</th>
            </tr>
        </thead>
        <tbody>
            {% for classwork in classworks %}
            <tr>
                <form action="../../assignment/{{classwork.assignment.pk}}/grade/" method="post">
                    {% csrf_token %}
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="../../assignment/{{classwork.assignment.pk}}/">{{classwork.assignment.subject}}</a></td>
                    <td>
                        <small>
                            {{classwork.message}}
                            {% if classwork.works %}
                            <br />
                            <b>ไฟล์แนบ:</b> <br>
                            {% with classwork.works as works %}
                            {% include "components/file_list.html" %}
                            {% endwith %}<br>
                            <b>ความคิดเห็น:</b> <br>
                            <input type="hidden" name="success_url" value="{{request.get_full_path}}">
                            <input type="hidden" name="classwork_id" value="{{classwork.pk}}">
                            <input type="text" name="feedback" class="form-control form-control-sm" {% if classwork.feedback %} value='{{classwork.feedback}}' {% endif %}>
                            {% endif %}
                        </small>
                    </td>
                    <td style='max-width:95px;'>{% if classwork.submit_date %}{{classwork.submit_date|date:"d/m/Y" }}
                        {{classwork.submit_date|time:"H:i" }} น. {% else %} -{% endif %}</td>
                    <td style='min-width: 80px; vertical-align: bottom'>{% if classwork %}
                        <input type="number" class="form-control-sm p-0" name="score" min="0"
                            max="{{classwork.assignment.max_score}}" style='width:2.15rem;' value={{classwork.score}}>
                        {% if classwork.score %}
                        <button class="btn btn-warning btn-sm p-0 ms-1" type="submit"><i
                                class="bi bi-pencil-square"></i></button>
                        {% else %}
                        <button class="btn btn-success btn-sm p-0 ms-1" type="submit"><i
                                class="bi bi-plus"></i></button>
                        {% endif %}
                        {% endif %}
                    </td>
                </form>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endif %}
</div>
{% endblock course_content %}