{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block content %}
    <h2 class='my-4 text-center'>กลุ่มเรียนของท่าน</h2>
    {% if user.is_superuser %}
    <div class="col-lg-8 m-3">
        <button class="btn btn-success" data-bs-toggle="collapse" href="#AddUserForm" 
        role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-plus"></i>
             เพิ่มกลุ่มเรียน
        </button>
        <div class="collapse mt-3 p-3" style='background-color: rgb(255,239,213); border-radius 5px;' id="AddUserForm">
        <form action="creategroup/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "components/form_base.html" %}
            <div class="mb-3">
                <label for="id_datacsv"> ข้อมูลนักศึกษาในกลุ่มเรียน: </label><br/>
                <input type="file" name="datacsv">
                <p> 
                    ไฟล์ .csv นี้ต้องแบ่งเป็น 4 คอลัมน์คือ รหัสนักศึกษา คำนำหน้า ชื่อ นามสกุล 
                    และใช้ Header ของแต่ละคอลัมน์เป็น student_id, gender, name, surname <b>เท่านั้น</b>
                </p>
            </div>
            <div class="text-right">
            <div class="d-sm-flex flex-sm-row-reverse">
                <button class="btn btn-secondary" type='submit'> บันทึกข้อมูล</button>
            </div>
            </div>
        </form>
    </div>
    </div>
    {% endif %}
    <div>{% if user.is_superuser %}{% include 'components/messages.html' %}{% endif %}</div>
    <div class="row">
    {% for group in groups %}
    <div class="col-lg-6">
    <div class="card m-3">
        <div class="card-body">
            <h4>{{group.name}}</h4>
            {% with group.groupdata as gd %}
            <span class="snippets">{{gd.description}}<br/>
            <b>วัน-เวลาเรียน:</b> {{gd.study_on}} {{gd.start_time|time:"H:i"}}-{{gd.end_time|time:"H:i"}} 
            <b>สถานที่:</b> {{gd.place}} <br/>
            </span>
            <a href="/group/{{group.pk}}" class="btn btn-primary  mt-3">
                <i class="bi bi-box-arrow-in-right"></i>
                เข้าสู่กลุ่มเรียนนี้
            </a>
            {% endwith %}
        </div>
    </div>
    </div>
    {% empty %}
    <div class="mb-3">
        <p>
            ไม่มีข้อมูลของท่าน หากคิดว่านี่คือข้อผิดพลาด โปรดติดต่อผู้ดูแลระบบ
        </p>
    </div>
    {% endfor %}
    </div>

  
{% endblock content %}