{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block content %}
  <div class="hero">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <img src="{% static 'assets/images/hero-image.jpg' %}" alt="Charm" style='width: 100%;'>
      </div>
      <div class="col">
      </div>
    </div>
    <div style="height:1rem"></div>
    <h3 class="text-center">กรุณาเข้าสู่ระบบด้วย KMITL Account gen2 เพื่อเข้าใช้ระบบ Charm School</h3>
  </div>
{% endblock content %}


