<button type="button" class="btn btn-warning" data-bs-toggle="modal" 
    data-bs-target="#editModal">
    <i class="bi bi-pencil-square me-2"></i> แก้ไข
</button>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" 
    data-bs-target="#deleteModal">
    <i class="bi bi-trash me-2"></i>ลบ
</button>
<div class="modal fade" id="editModal" tabindex="-1" 
    aria-labelledby="editModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">แก้ไข</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="editcontent/" method="post">
    {% csrf_token %}
    <div class="modal-body">
            {% include "components/form_base.html" %}    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-warning">บันทึกการเปลี่ยนแปลง</button>
    </div>
    </form>
    </div>
</div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" 
    aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">ลบ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        โปรดคลิก 'ตกลง' เพื่อยืนยันการลบรายการ
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <form action="deletecontent/" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name='delete'>ยืนยันการลบ</button>
        </form>
    </div>
    </div>
</div>
</div>