<div class="card-body table-responsive">
{% if classwork_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">รหัสนักศึกษา</th>
            <th scope="col">งานที่ส่ง</th>
            <th scope="col">วันที่ส่ง</th>
            <th scope="col">คะแนน</th>
        </tr>
    </thead>
    <tbody>
        {% for student in classwork_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{student.0.student_id}}</td>
            <td>
                <small>
                {% with student.1 as classwork %}
                    {% if classwork %}
                    {{classwork.message}}
                    {% if classwork.work %}
                    <br/>
                    <b>ไฟล์แนบ:</b> {{classwork.work}} <br/><a href="https://docs.google.com/viewer?url={{classwork.work.url}}" target="_blank" rel="noopener noreferrer">เปิดในแท็บใหม่</a>  
                    <a href="{{classwork.work.url}}">ดาวน์โหลด</a> 
                    {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </small>
            </td>
            <td>{% if classwork.submit_date %}{{classwork.submit_date|date:"d/m/Y" }} {{classwork.submit_date|time:"H:i" }} น. {% else %} -{% endif %}</td>
            <td>{% if classwork %}
                <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="classwork_id" value = "{{classwork.pk}}">
                        <input type="number" class="form-control form-control-sm" name="score" 
                            min="0" max="{{classwork.assignment.max_score}}" style='width:3.15rem;' value = {{classwork.score}}>
                {% if classwork.score %}
                    <button class="btn btn-warning btn-sm p-0 px-1 ms-4" type="submit"><i class="bi bi-pencil-square"></i></button>
                {% else %}
                    <button class="btn btn-success btn-sm p-0 px-1 ms-4" type="submit" ><i class="bi bi-plus"></i></button>
                {% endif %}
                {% endif %}
                 </form>
            </td>
            {% endwith %}
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% else %}
<span>ไม่มีรายการ</span>
{% endif %}
