<div class="card-body table-responsive">
    {% if classwork_list %}
    <form action="grade/" method="post">
    <input type="hidden" name="success_url" value="{{request.get_full_path}}">
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">งานที่ส่ง</th>
                <th scope="col">วันที่ส่ง</th>
                <th scope="col">คะแนน</th>
            </tr>
        </thead>
        <tbody>
            {% for student in classwork_list %}
            <tr>
                    <th scope="row">{{forloop.counter0|add:classwork_list.start_index}}</th>
                    <td>{{student.0.student_id}}</td>
                    <td>
                        <small>
                            {% with student.1 as classwork %}
                            {% if classwork %}
                            {{classwork.message}}
                            {% if classwork.works %}
                            <br />
                            <b>ไฟล์แนบ:</b> <br>
                            {% with classwork.works as works %}
                            {% include "components/file_list.html" %}
                            {% endwith %}
                            {% endif %}
                           <br>
                            <b>ความคิดเห็น:</b> <br>
                            <input type="hidden" name="classwork_id" value="{{classwork.pk}}">
                            <textarea name="feedback" class="form-control form-control-sm" >{% if classwork.feedback %}{{classwork.feedback}} {% endif %}</textarea>
                            {% else %}
                            -
                            {% endif %}
                        </small>
                    </td>
                    <td>{% include "components/late_check.html" %}</td>
                    <td style='min-width: 80px; vertical-align: bottom'>{% if classwork %}
                        <input type="number" class="form-control-sm p-0" name="score" min="0"
                            max="{{classwork.assignment.max_score}}" style='width:2.15rem;' value={{classwork.score}}>
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <div class="d-sm-flex flex-sm-row-reverse my-3">
    <button type="submit" name="submit" class="btn btn-warning"><i i class="bi bi-save me-2"></i> บันทึกการเปลี่ยนแปลง</button> 
    </div>
    </form>
    {% else %}
    <span>ไม่มีรายการ</span>
    {% endif %}
{% with classwork_list as data %}
    {% include "components/paginator.html" %}
{% endwith %} 
