{% extends "charmschool/base.html" %}
{% load static %}
{% block course_content %}
<div class="m-3">
    <h4>{{content.subject}}</h4>
    <span class="snippets">{{content.description}}</span><br />
    <small>
        <b>โพสต์โดย:</b> {{content.author.name}} {{content.author.surname}}
        <b>เมื่อ: {{content.pub_date|date:"d F Y"}} {{content.pub_date|time:"H:i"}} น.</b>
    </small>
    <hr />
    {{content.content}}
    <h4 class='my-3'>ความคิดเห็น</h4>
    {% for comment in comments %}
    <div class="commented-section mt-2 p-3" style='background-color: lemonchiffon'>
        <div class="d-flex flex-row justify-content-sm-between">
            <h6 class="mr-2">
                {% if comment.author.is_student %}
                {% with comment.author.student_set.first as stu %}
                    {{stu.student_id}} {{stu.gender}} {{stu.name}} {{stu.surname}}
                {% endwith %}
                {% else %}
                {% with comment.author.instructor as instruct %}
                    {{instruct.gender}} {{instruct.name}} {{instruct.surname}}
                {% endwith %}
                {% endif %}
            </h6>
            <small class="mb-1">{{comment.pub_date|date:"d/m/Y"}} {{comment.pub_date|time:"H:i"}} น.</small>
        </div>
        <div class="text-sm">
            <small>{{ comment.content }}</small>
        </div>
        {% if comment.author == user %}
        <div class="d-sm-flex flex-sm-row-reverse">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="comment_pk" value='{{comment.pk}}'>
                <input type="submit" name='delete' class="btn btn-primary btn-sm" value='ลบความคิดเห็นนี้'>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-success mt-3" data-bs-toggle="collapse" href="#AddUserForm" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-plus"></i>
        เพิ่มความคิดเห็น
    </button>
    <div class="collapse mt-3 p-3" style='background-color: rgb(255,239,213); border-radius 5px;' id="AddUserForm">
        <form action="" method="post">
            {% csrf_token %}
            {% include "components/form_base.html" %}
            <div class="d-sm-flex flex-sm-row-reverse">
                <button class="btn btn-secondary" type='submit'> บันทึกข้อมูล</button>
            </div>
        </form>
    </div>
</div>

{% endblock course_content %}
